body{
    background: #111112;
    color: #D1D1DE;
    font-family: 'Ye Font', Arial, sans-serif;
}

h1,h2,h3,h4,h5,h6{
    margin-left: 1%;
}

.intro-container{
    display: flex;
    justify-content: center;
}

.intro-header{
    transition: opacity 0.5s ease-in-out;
    margin: 50px 0 50px 0;
}

#ye-bear{
    width: 100px;
    height: auto;
    align-self: center;
    transition: opacity 0.5s ease-in-out;
    margin: 9px 0 9px 0;
}

.game-interface{
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.selection-header{
    transition: opacity 0.5s ease-in-out;
}

.selection-buttons{
    display: flex;
    justify-content: center;
}

.selection-btn{
    margin: 0 5px 0 5px;
}

button {
    display: inline-block;
    border: none;
    outline: 3px solid #111112;
    padding: 1rem 2rem;
    margin: 0;
    text-decoration: none;
    background:#111112;
    color: #D1D1DE;
    font-family: 'Ye Font';
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
    transition: outline 0.5s ease-in-out;
    transition: opacity 0.5s ease-in-out;
    -webkit-appearance: none;
    -moz-appearance: none;
}
button:hover{
    outline:3px solid #D1D1DE;
}

button:focus{
    outline:3px solid #D1D1DE;
}

button:disabled{
    outline: 3px solid #111112;
}

.counter{
    transition: opacity 0.5s ease-in-out;
}

.scoreboard{
    transition: opacity 0.5s ease-in-out;
}

.restart-button{
    display: flex;
    justify-content: center;
}

.restart-btn{
    opacity: 0;
}
